<div
  class="assistant-chat"
  data-controller="assistant-chat"
  data-assistant-chat-chat-id="<%= @chat.id %>"
>
  <h5>Latest assistant messages</h5>

  <ul
    class="collection"
    data-target="assistant-chat.collection"
  >
  </ul>

  <form
    data-action="assistant-chat#submit"
  >
    <div class="form-group">
      <label>New message</label>
      <input
        data-target="assistant-chat.input"
       />
    </div>

    <input type="submit" />
  </form>
</div>
